@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root,.segment,.main-segment-content-container{height:auto;width:100%;margin:0;padding:0;display:flex;flex-direction:column;align-items:center;font-family:sans-serif;font-size:3dvh;}
button{padding:2vh;font-size:2.5dvh;border:none;border-radius:2vh;}
.menu-button{height:10dvh;width:10dvh;float:right;}
#light.menu-button{color:#000000;background-color:#fff2f288;}
#dark.menu-button{color:white;background-color:#fff2f288;}
/* .menu-button:hover{background-color:#fff2f2bb;} */
.main-button{color:#ffffff;background-color:#d42525;}
.main-button:hover{background-color:#c02020!important}
.segment{height:90vh;width:100%;left:0;right:0;}
.main-segment-content-container{height:90vh;width:100%;padding:2%;z-index:1;position:absolute;}
.main-segment-image-container{height:100%;width:100%;background-image:url(/images/background.svg);z-index:0;}
#dark.main-segment-image-container{filter:invert(100%);}
#light.main-segment{color:black;background-color:#ffcfc0;}
#dark.main-segment{color:white;background-color:#751c01;}
.secondary-segment{display:flex;flex-direction:column;align-items:center;justify-content:space-around;}
/* .secondary-segment{background-color:#c0edff;} */
#light.secondary-segment{background-color:#ddfeff;}
#dark.secondary-segment{background-color:#75a3a5;}
h1,h2{font-size:10dvh;text-align:center;}h2{font-size:5dvh;}
.main-button-container{width:75%;display:flex;justify-content:space-around}
.secondary-segment-left-top,.secondary-segment-right-bottom{width:80%;text-align:center;}
.menu{padding:2%;float:right;right:0;margin:1% 2%;border-radius:2vh;z-index:2;position:absolute;}
#light .menu{color:black;background-color:#fff2f2bb;border:0.1vw solid #fff2f2;}
#dark .menu{color:white;background-color:#a07474bb;border:0.1vw solid #9e6e6e;}
.footer{height:45vh;width:100%;color:white;display:flex;flex-direction:row;align-items:center;justify-content:space-around;}
.footer-image-container{height:100%;width:100%;filter:invert(100%);background-image:url(/images/background.svg);z-index:0;background-color:#3de8ff;}
#dark.footer-image-container{background-color:#a9f5ff;}
.footer-content-container{width:100%;z-index:1;position:absolute;display:flex;flex-direction:row;align-items:center;justify-content:space-around;}
.footer::selection,.footer::-moz-selection,.footer::-webkit-selection,.footer::-webkit-user-select{background-color:white!important;}
::selection{color:white;background-color:#c02020;}
.image-container{height:50%;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.image{background-image:url(images/image1.svg);background-size:contain;background-repeat:no-repeat;width:100%;height:100%;background-position:center;}
.darkModeButton{border-radius:20vw;float:left;}
.segment2,.segment3{padding:10% 0% 10% 0%}
#light.segment2{background-color:white;background-image:linear-gradient(to bottom,#ffcfc0,white);}
#dark.segment2{color:white;background-color:#333333;background-image:linear-gradient(to bottom,#751c01,#471100);}
.segment3{flex-direction:column-reverse;}
#light.segment3{background-color:white;background-image:linear-gradient(to bottom,white,#ffcfc0);}
#dark.segment3{color:white;background-color:#333333;background-image:linear-gradient(to bottom,#471100,#751c01);}
.segment4{display:flex;flex-direction:column;justify-content:center;padding-bottom:10%;}
#light.segment4{background-color:#ffcfc0;}
#dark.segment4{color:white;background-color:#751c01;}

@media only screen and (min-width:800px) {
    .main-button-container{width:40%;}
    .secondary-segment-left-top,.secondary-segment-right-bottom{width:50%;}
    .secondary-segment:not(.segment4){flex-direction:row;padding:0% 5% 0% 5%;}
    .image-container{height:60%;}
}